services:
  app:
    build:
      dockerfile: ./Dockerfile
      context: ./

    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - pg

  pg:
    image: postgres:17.6-bookworm
    environment:
      POSTGRES_DB: films
      POSTGRES_USER: killchik
      POSTGRES_PASSWORD: killchik
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pg_admin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - pg

volumes:
  postgres_data: